#edit-default-platforms-dev-enabled-wrapper, #edit-default-platforms-dev-branch-wrapper {
  float: left;
  width: 50%;
}
body.aegir #page div.node div.content fieldset.project-environments div.form-item {
  padding: 5px;
}
