#edit-default-platforms-dev-enabled-wrapper, #edit-default-platforms-dev-branch-wrapper {
  float: left;
  width: 50%;
}
body.aegir #page div.node div.content fieldset.project-environments div.form-item {
  padding: 5px;
}

fieldset.project-environments {
  clear: both;
}

#project-settings-table .description,
#project-settings-table .form-item-labeled label
{
  display: none;  
}
.empty {
  text-align: center;
}
.empty .empty-message {
  padding:30px;
}
.empty .empty-button a {
  font: bold 13px/20px "Helvetica Neue",Arial,sans-serif;
  border: 0px;
  padding: 5px 10px;
  color: #fff;
  background: #666;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

textarea#rsa {
  display: none;
}