#edit-default-platforms-dev-enabled-wrapper, #edit-default-platforms-dev-branch-wrapper {
  float: left;
  width: 50%;
}
body.aegir #page div.node div.content fieldset.project-environments div.form-item {
  padding: 5px;
}

fieldset.project-environments {
  clear: both;
}

#project-settings-table .description,
#project-settings-table .form-item-labeled label
{
  display: none;  
}
