[submodule "roles/aegir.user"]
	path = roles/aegir.user
	url = https://github.com/opendevshop/ansible-role-aegir-user.git
[submodule "roles/aegir.apache"]
	path = roles/aegir.apache
	url = https://github.com/opendevshop/ansible-role-aegir-apache.git
[submodule "geerlingguy.php"]
	path = roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "geerlingguy.apache"]
	path = roles/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "geerlingguy.php-mysql"]
	path = roles/geerlingguy.php-mysql
	url = https://github.com/geerlingguy/ansible-role-php-mysql.git
[submodule "geerlingguy.mysql"]
	path = roles/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "geerlingguy.composer"]
	path = roles/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "geerlingguy.git"]
	path = roles/geerlingguy.git
	url = https://github.com/geerlingguy/ansible-role-git.git
[submodule "aegir.devmaster"]
	path = roles/aegir.devmaster
	url = https://github.com/opendevshop/ansible-role-devmaster.git
