
# devshop repos
aegir-home
aegir-dockerfiles
aegir-tests
dockerfiles
documentation
hosting
hostmaster
provision

# @TODO: Now that devshop roles are in this repo, should we organize by core/contrib?
roles/geerlingguy.*
roles/arknoll.selenium/
roles/franklinkim.newrelic/
roles/thom8.php-upload-progress/


# Local config
.vagrant
devmaster_id_rsa.pub

# Config
bin/*
~bin/devshop
!bin/hosting-queue-runner
!bin/mysql-wait
!bin/docker-entrypoint

# Symfony code
vendor

# Development Mode Indicator File
.development_mode

# Ansible inventory file.
inventory

# PHPStorm files
.idea
