language: php

sudo: required

# Only run tests when committing to our primary branch and pull requests.
branches:
  only:
    - 1.x
env:
  global:
    - DEVSHOP_VERSION=1.x
    - SITE_HOSTS='dev.drup.devshop.travis dev.projectname.devshop.travis live.projectname.devshop.travis testenv.drpl8.devshop.travis dev.rootproject.devshop.local.computer'

  matrix:
  - test="Upgrade"
    COMMAND="robo up --test-upgrade --no-dev"
    UPGRADE_FROM_VERSION="1.0.0-beta10"
 
  - test="Docker Install"
    COMMAND="robo up --test"

  - test="Ansible on Ubuntu 14.04 Apache"
    COMMAND="robo up --mode=install.sh --test"

  - test="Ansible on Ubuntu 16.04 Apache"
    COMMAND='robo up --mode=install.sh --install-sh-image=geerlingguy/docker-ubuntu1604-ansible --test'

  - test="Ansible Upgrade"
    COMMAND='robo up --mode=install.sh --install-sh-image=geerlingguy/docker-ubuntu1604-ansible --test-upgrade --test --no-dev'

#  - test="Ansible on Ubuntu 18.04 Apache"
#    COMMAND='robo up --mode=install.sh --install-sh-image=geerlingguy/docker-ubuntu1804-ansible --test'

#  - test="Install with Ansible on Ubuntu 14.04 with NGINX"
#    COMMAND="robo up --mode=install.sh --test --install-sh-options='--server-webserver=nginx'"

# @TODO: The "repo" based roles on CentOS went haywire across the GeerlingGuy roles.
# See https://github.com/ansible/ansible/issues/46517#issuecomment-427377148
# It's also caused by the fact that the base docker images we use here were updated to ansible 2.7.
#  - test="Ansible Install on CentOS 7"
#    COMMAND="robo up --mode=install.sh --install-sh-image=geerlingguy/docker-centos7-ansible --test"

#  - test="Install with Ansible on Fedora 25"
#    COMMAND="robo up --mode=install.sh --install-sh-image=centos:7 --test"

addons:
  hosts:
    - devshop.travis
    - dev.projectname.devshop.travis
    - live.projectname.devshop.travis
    - dev.drpl8.devshop.travis
    - testenv.drpl8.devshop.travis
    - dev.rootproject.devshop.local.computer

services:
  - docker

before_install:

  # If TRAVIS_PULL_REQUEST_BRANCH variable is not empty, create a branch with the same name so the upgrade tests do not fail.
  # See https://github.com/opendevshop/devshop/issues/356
  - if [ ! -z "$TRAVIS_PULL_REQUEST_BRANCH" ]; then git checkout -b $TRAVIS_PULL_REQUEST_BRANCH; fi

  - env
  - id -u
  - docker --version
  - docker-compose --version

  # Install Robo
  - wget https://github.com/consolidation/Robo/releases/download/1.0.5/robo.phar
  - sudo mv robo.phar /usr/local/bin/robo
  - sudo chmod +x /usr/local/bin/robo

  # Install Drush
  - wget https://github.com/drush-ops/drush/releases/download/8.1.9/drush.phar
  - sudo mv drush.phar /usr/local/bin/drush
  - sudo chmod +x /usr/local/bin/drush

  # Prepare devshop CLI.
  - composer install

script:

  # Launch devshop including preparing the source code.
  - echo "Running ${COMMAND} -n --xdebug=0 ..."
  - ${COMMAND} -n --disable-xdebug
  
notifications:
  slack: thinkdrop:pb05x3ZL3qumHs0RjqEXvYfA
