language: generic

sudo: required

env:
  globaL:
    - DOCKER_VERSION=1.11.2-0~trusty
    - DOCKER_COMPOSE_VERSION=1.7.1

# Only run test when committing to master branch.
branches:
  only:
    - 1.x

#env:
#  - test: Ubuntu 14.04 Apache
#    distribution: ubuntu
#    version: 14.04
#    init: /sbin/init
#    run_opts: ""

addons:
  hosts:
    - devshop.travis
    - dev.projectname.devshop.travis
    - live.projectname.devshop.travis
    - dev.drpl8.devshop.travis

services:
  - docker

before_install:

  # Prepare Docker
  - wget https://raw.githubusercontent.com/aegir-project/tests/master/travis/prepare-docker.sh
  - sudo bash prepare-docker.sh
  - cd /home/travis/build/opendevshop/devshop/tests

script:

  - sudo docker --version
  - sudo docker-compose -f docker-compose.yml run devmaster