---
# Big thanks to @geerlingguy for his unending commitment to this stuff.
# Introduction to molecule: https://www.jeffgeerling.com/blog/2018/testing-your-ansible-roles-molecule
# This was copied from geerlingguy.apache: https://github.com/geerlingguy/ansible-role-apache/blob/master/.travis.yml

language: python
services: docker

env:
  global:
    - ROLE_ORGANIZATION_NAME: opendevshop
    - ROLE_NAME: devmaster
  matrix:
    - MOLECULE_DISTRO: centos7
      MOLECULE_DOCKER_COMMAND: /usr/lib/systemd/systemd
    - MOLECULE_DISTRO: centos6
    - MOLECULE_DISTRO: ubuntu1804
    - MOLECULE_DISTRO: ubuntu1604
    - MOLECULE_DISTRO: ubuntu1404
    - MOLECULE_DISTRO: debian9
    - MOLECULE_DISTRO: debian8

install:
  # Install test dependencies.
  - pip install molecule docker

before_script:
  # Use actual Ansible Galaxy role name for the project directory.
  - cd ../
  - mv ansible-role-$ROLE_NAME $ROLE_ORGANIZATION_NAME.$ROLE_NAME
  - cd $ROLE_ORGANIZATION_NAME.$ROLE_NAME

script:
  # Run tests.
  - cat $ROLE_ORGANIZATION_NAME.$ROLE_NAME/molecule/default/molecule.yml
  - molecule test

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
