version: '2'

# This compose file is just an example. Create your own to launch your own Aegir cluster

services:

  devmaster:
    image: aegir/hostmaster:dev
    ports:
      - 80:80
    hostname: devshop.local.computer
    links:
      - database
    depends_on:
      - database
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword
      AEGIR_MAKEFILE: https://raw.githubusercontent.com/opendevshop/devshop/1.x/build-devmaster.make
      AEGIR_PROFILE: devmaster
      AEGIR_VERSION: 1.x
      AEGIR_HOSTMASTER_ROOT: /var/aegir/devmaster-1.x
      XDEBUG_CONFIG: "remote_host=172.17.0.1 idekey=PHPSTORM"
      PHP_IDE_CONFIG: "serverName=devshop.local.computer"

      # To allow the devmaster container to launch other docker containers, we need the host's path to aegir home directory.
      HOST_AEGIR_HOME: /home/jon/Projects/devshop/aegir-home

    privileged: true
    volumes:
      - ./aegir-home:/var/aegir:Z
      - ./:/usr/share/devshop:Z
      - ./provision:/usr/share/drush/commands/provision:Z
      - /var/run/docker.sock:/var/run/docker.sock

  database:
    image: mariadb
    logging:
      driver: none
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword

    command: mysqld --innodb-large-prefix --innodb-file-format=barracuda --innodb-file-per-table

  admin:
    image: phpmyadmin/phpmyadmin
    links:
      - database:db
    ports:
      - 8080:80

  selenium:
    image: selenium/standalone-chrome:3.0.1-germanium
    ports:
      - 4444:4444
      - 5900:5900
