version: '2'

# This compose file is just an example. Create your own to launch your own Aegir cluster

services:

  devmaster:
    image: aegir/hostmaster:php7-xdebug
    ports:
      - 80:80
    hostname: devshop.local.computer
    links:
      - database
    depends_on:
      - database
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword
      AEGIR_MAKEFILE: https://raw.githubusercontent.com/opendevshop/devshop/1.x/build-devmaster.make
      AEGIR_PROFILE: devmaster
      AEGIR_VERSION: 1.x
      PROVISION_VERSION: 7.x-3.x
      AEGIR_HOSTMASTER_ROOT: /var/aegir/devmaster-1.x
      XDEBUG_CONFIG: "remote_host=172.17.0.1 idekey=PHPSTORM"
      PHP_IDE_CONFIG: "serverName=devshop.local.computer"

      # To allow the devmaster container to launch other docker containers, we need the host's path to aegir home directory.
      HOST_AEGIR_HOME: /home/jon/Projects/devshop/aegir-home

      # @TODO: We can't define the service type here.
      # The Provision classes for this service type MUST be available in
      # provision project, because at this point, the devmaster site might not
      # be there, and the .drushrc.php used to include Provision classes in
      # Hosting modules doesn't exist. Until we add more services to provision
      # itself, or include additional libraries, we can't use this.
      # This would work for changing to nginx, once the container supports that.
      # AEGIR_HTTP_SERVICE_TYPE: https_apache

    privileged: true
    volumes:
      - ./aegir-home:/var/aegir:delegated
      - ./:/usr/share/devshop:delegated
      - ./provision:/usr/share/drush/commands/provision:delegated
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.ssh:/var/aegir/.ssh

  database:
    image: mariadb
    logging:
      driver: none
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword
# @TODO: Remove completely once tests pass.
#    command: mysqld --innodb-large-prefix --innodb-file-format=barracuda --innodb-file-per-table

  admin:
    image: phpmyadmin/phpmyadmin
    links:
      - database:db
    ports:
      - 8080:80

#  selenium:
#    image: selenium/standalone-chrome-debug:3.4.0-dysprosium
#    ports:
#      - 4444:4444
#      - 5900:5900
