version: '2'

# This compose file is just an example. Create your own to launch your own Aegir cluster

services:

  devmaster:
    image: aegir/hostmaster:local
    ports:
      - 80:80
    hostname: devshop.local.computer
    links:
      - database
    depends_on:
      - database
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword
      AEGIR_PROFILE: strongpassword
      AEGIR_MAKEFILE: https://raw.githubusercontent.com/opendevshop/devshop/1.x/build-devmaster.make
      AEGIR_PROFILE: devmaster
      AEGIR_VERSION: 1.x
    volumes:
      - ./aegir-home:/var/aegir:Z

  database:
    image: mariadb
    logging:
      driver: none
    environment:
      MYSQL_ROOT_PASSWORD: strongpassword

    command: mysqld --innodb-large-prefix --innodb-file-format=barracuda --innodb-file-per-table