# Global DevShop Ansible configuration.
# Every DevShop Role has this file, but can add their own as well.
[defaults]
stdout_callback  = yaml
force_color = True
roles_path = /usr/share/devshop/roles
interpreter_python = auto

#TODO: Reduce duplication: docker/ansible/ansible.cfg also exists

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
