body.admin-menu .navbar-static-top {
  margin-top: 20px !important;
  z-index: 0;
}


.devshop-environment .list-group-item.active .text-muted {
  color: white;

}

.devshop-environment > a.site-link {
  overflow: hidden;
  text-overflow: ellipsis;
}