body.admin-menu .navbar-static-top {
  margin-top: 20px !important;
  z-index: 3;
}


.devshop-environment .list-group-item.active .text-muted {
  color: white;

}

.devshop-environment > a.site-link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-controls {
  border: 1px solid #ddd;
  margin: 0px;
}

.btn-env-buttons {
  min-width: 92px;
}

.active-task-gear {
  color: #ffffaa;
}

.environment-git-ref {
  font-family: monospace;
  margin: 0px 5px;
  padding: 3px;
  color: #777;
  font-size: .7em;

}
.devshop-environment .active .environment-git-ref {
  color: white;

}
