###
# DevShop Server
#
# All-in-one DevShop. Includes all services required to run on one instance.
#
---
- hosts: devshop_server
  become: true

  # These vars override everything except command line variables. Set variables per host in the inventory or vars files in /etc/ansible.
  # See https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable
  vars:
    devshop_server_role: 'devshop.server'

  pre_tasks:
    - name: Set all Debian systems to use python3 as the interpretor, and python3-mysqldb for mysql_python_package_debian.
      when:
        - ansible_os_family == 'Debian'
      set_fact:
        mysql_python_package_debian: python3-mysqldb
        ansible_python_interpreter: python3

    - name: Set build time variables
      set_fact:
        apache_state: stopped
        mysql_enabled_on_startup: false
      when:
        - ('runtime' not in ansible_run_tags)

    # Copied from geerlingguy.mysql variables.yml so it will run at runtime.
    - name: Include OS-specific variables.
      include_vars: "{{ item }}"
      with_first_found:
        - files:
            - "{{ devshop_cli_path }}/roles/geerlingguy.mysql/vars/{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
            - "{{ devshop_cli_path }}/roles/geerlingguy.mysql/vars/{{ ansible_os_family }}.yml"
      tags: [always]

    - name: Define mysql_daemon.
      set_fact:
        mysql_daemon: "{{ __mysql_daemon }}"
      when: mysql_daemon is not defined
      tags: [always]

    - name: MySQL Information
      debug:
        msg: "MySQL Root password: {{ mysql_root_password }}"
      tags: [always]

    # This is here for the devshop/server container, which already has mysql installed. For some reason, it wouldn't start later on.
    # @TODO: This works, but using Service module fails!
    - name: Start MySQL
      command: "service {{ mysql_daemon }} start"
      ignore_errors: true
      tags: [runtime]

  roles:
    # Run the opendevshop.users role first at runtime so UIDs are changed ASAP.
    # The playbook will ALSO be run before opendevshop.devmaster below because it is stored as a dependency.
    - role: opendevshop.users
      tags: [always]

    - role: geerlingguy.mysql
      tags: [always]

    - role: geerlingguy.repo-remi
      when: ansible_os_family == 'RedHat'

    - role: geerlingguy.apache
      tags: [always]

    - role: geerlingguy.php-versions
      tags: [always]

    - role: geerlingguy.php
      tags: [always]

    - role: geerlingguy.php-mysql
      tags: [always]

    - role: geerlingguy.composer
      tags: [always]

    - role: geerlingguy.supervisor
      tags: [always]

    - role: opendevshop.apache
      tags: [always]

    # Always run everything. Tags inside the roles will limit tasks run.
    - role: opendevshop.devmaster
      tags: [always]
