---
# defaults file for aegir.user
aegir_user_uid: "12345"
aegir_user_gid: "12345"

# Set to TRUE to always incude the 'reset-uid.yml' task list, forcing a gid/uid reset each time.
aegir_user_force_set_uid: false

aegir_user_name: aegir
aegir_user_home: /var/aegir
aegir_user_authorized_keys: ""
aegir_logs_path: /var/log/aegir

# Populated in prepare-user.yml
aegir_user_uid_current: "{{ aegir_user_uid }}"
aegir_user_gid_current: "{{ aegir_user_gid }}"

# Used for the secondary install scripts for fix-perms and fix-ownership so far
aegir_hosting_version: "7.x-3.170"

# Be sure to match to opendevshop.aegir-devmaster role
local_bin_path: /usr/local/bin
sudoers_file_path: /etc/sudoers

# Set to false to prevent playbook from creating a local user.
aegir_create_user: true

# Set to "no" to prevent playbook from trying to add aegir to web server group.
aegir_user_in_web_group: true

ssh_known_hosts:
  - github.com
  - bitbucket.org
  - drupal.org
  - gitlab.com
