<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Runs `drush @hostmaster hosting-task $NID`</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>TASK_NID</name>
                    <description>Hosting Task NID</description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>true</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command></command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers>
        <org.jvnet.hudson.plugins.SSHBuildWrapper plugin="ssh@2.4">
            <siteName>aegir@internal.nucivic.build:22</siteName>
            <preScript>drush @hostmaster hosting-task $TASK_NID</preScript>
            <postScript></postScript>
        </org.jvnet.hudson.plugins.SSHBuildWrapper>
    </buildWrappers>
</project>