---
- name: "opendevshop.devmaster"
  debug:
    msg:
      - "Welcome the opendevshop.devmaster playbook! We are about to install: "
      - "  Repo: {{ devshop_cli_repo }}"
      - "  Path: {{ devshop_cli_path }}"
      - "  Version: {{ devshop_version }}"
      - "  CLI Version: {{ devshop_cli_version }}"
      - "  Tags: {{ ansible_run_tags }}"


- name: Detect current server hostname.
  command: "hostname --fqdn"
  register: _server_hostname_fqdn_command
  failed_when: "_server_hostname_fqdn_command.stdout is undefined"
  become: false

- name: Set server_hostname variable from current server hostname.
  set_fact:
    server_hostname: "{{ _server_hostname_fqdn_command.stdout }}"
  when: server_hostname is not defined

- name: Display server_hostname.
  debug:
    msg: "{{ server_hostname }}"

- name: Set Server Hostname
  hostname:
    name: "{{ server_hostname }}"
  when: server_hostname | length > 0
  ignore_errors: "{{ server_hostname_ignore_errors }}"

# This is done so the roles will be visible when ansible config is the default.
# There are too many ways to configure the roles path. If we just put the files
# here, the DEFAULT_ROLES_PATH value will find devshop roles.
- name: Create Ansible Share folder
  file:
    path: "{{ ansible_share_path }}"
    state: directory

- name: Include version specific variables for Debian OS Family
  include_vars: "vars.{{ ansible_os_family }}.yml"
  when: ansible_os_family == "Debian"

- name: Include version specific variables for RedHat OS Family
  include_vars: "vars.{{ ansible_os_family }}{{ ansible_distribution_major_version }}.yml"
  when: ansible_os_family == "RedHat"

- name: Include OS-specific variables.
  include_vars: "vars.{{ ansible_os_family }}.yml"
  when: ansible_os_family == "Debian"

- name: Install extra packages
  apt:
    pkg: '{{ extra_packages }}'
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Install extra packages
  yum:
    name: '{{ extra_packages }}'
    state: present
  when: ansible_os_family == "RedHat"

#- name: Install pip packages
#  pip:
#    name: '{{ devshop_pip_packages }}'
#    state: present

# This happens when /usr/share/devshop is in a volume and the container user doesn't work yet.
- name: Configure Git to set devshop as a safe directory to avoid "dubious ownership" claims.
  git_config:
    scope: global
    name: safe.directory
    value: "{{ devshop_cli_path }}"

- name: "Retrieve git information"
  git:
    repo: "{{ devshop_cli_repo }}"
    dest: "{{ devshop_cli_path }}"
    clone: no
    update: no
  register: devshop_installed_git_info

- name: Git Information
  debug:
    msg: "{{ devshop_installed_git_info }}"

- name: Detect currently installed version of DevShop.
  command: "{{ devshop_cli_path }}/scripts/branch-or-tag"
  register: __devshop_version_installed
  changed_when: true
  ignore_errors: true
  args:
    chdir: "{{ devshop_cli_path }}"

- name: "Detect if desired version {{ devshop_version }} is an ancestor of the installed version {{ __devshop_version_installed.stdout }}"
  command: "git merge-base --is-ancestor {{ __devshop_version_installed.stdout | quote }} {{ devshop_version | quote }}"
  register: __devshop_is_version_ancestor
  changed_when: true
  ignore_errors: true
  args:
    chdir: "{{ devshop_cli_path }}"
  when:
    - not __devshop_version_installed.failed

- name: "Stopping Upgrade: Specified devshop_version is not a descendant of {{ __devshop_version_installed.stdout }}"
  set_fact:
    devshop_cli_skip_update: true
    devmaster_skip_upgrade: true
  when:
    # Only run when devshop is already installed and the ancestor check failed.
    - not __devshop_version_installed.failed
    - __devshop_is_version_ancestor is defined
    - __devshop_is_version_ancestor.failed

- name: "Setting Variables for existing DevShop install (Version {{ __devshop_version_installed.stdout }})"
  set_fact:
    devshop_cli_upgrade_or_install: "Upgrade"
    devshop_version_installed: "{{ __devshop_version_installed.stdout }}"
  when:
    - not __devshop_version_installed.failed

- name: "Setting Variables for new DevShop install (Version {{ devshop_version }})"
  set_fact:
    devshop_cli_upgrade_or_install: "Install"
    devshop_version_installed: false
  when:
    - __devshop_version_installed.failed

- name: "Install DevShop Source"
  git:
    repo: "{{ devshop_cli_repo }}"
    version: "{{ devshop_cli_version }}"
    update: "{{ not devshop_cli_skip_update }}"
    dest: "{{ devshop_cli_path }}"
    force: "{{ not devshop_cli_skip_update }}"
  when: not devshop_cli_skip_update

- name: Ensure DevShop Control code is owned by platform user.
  file:
    state: directory
    path: "{{ item }}"
    group: "{{ aegir_user_name }}"
    owner: "{{ aegir_user_name }}"
    recurse: true
  with_items:
    - "{{ devshop_cli_path }}"

- name: "Composer Install DevShop Source"
  command: "{{ php_executable | default('php') }} {{ composer_path }} {{ devshop_cli_composer_install_command }}"
  # Changed: true is so we don't fail ansible lint.
  changed_when: true
  args:
    chdir: "{{ item }}"
  with_items:
    - "{{ devshop_cli_path }}"
  become: true
  become_user: "{{ aegir_user_name }}"
  become_method: "{{ ansible_become_method_aegir }}"

- name: Add DevShop bin directory to Path
  copy:
    dest: /etc/profile.d/devshop-cli-path.sh
    content: 'PATH=$PATH:{{ devshop_cli_path }}/bin'
  args:
    mode: 0644

- name: Link bin scripts in system bin directories.
  file:
    src: "{{ devshop_cli_path }}/bin/{{ item }}"
    dest: "{{ local_bin_path }}/{{ item }}"
    state: link
    force: true
  with_items: 
    - devshop
    - drush

- name: Debug environment
  command: "env"
  become: true
  become_user: "{{ aegir_user_name }}"
  become_method: "{{ ansible_become_method_aegir }}"
  changed_when: true

- name: Create Global Drush Configuration Folder
  file:
    path: "/etc/drush"
    mode: 0755
    state: directory

- name: Create Global Drush Configuration File
  template:
    src: drushrc.php.j2
    dest: "/etc/drush/drushrc.php"
    mode: 0655

#- name: Ensure /var/aegir is owned by aegir user.
#  file:
#    state: directory
#    path: "{{ aegir_user_home }}"
#    group: "{{ aegir_user_name }}"
#    owner: "{{ aegir_user_name }}"

#- name: Ensure DevShop Control code is owned by aegir user.
#  file:
#    state: directory
#    path: "{{ item }}"
#    group: "{{ aegir_user_name }}"
#    owner: "{{ aegir_user_name }}"
#    recurse: true
#  when: devshop_control_git_root is match(devshop_cli_path)
#  with_items:
#    - "{{ devshop_control_git_root }}"
#    - "{{ devshop_cli_path }}/devmaster"

- name: Create home subfolders
  file:
    path: "{{ item }}"
    owner: "{{ aegir_user_name }}"
    group: "{{ aegir_user_name }}"
    mode: 0744
    state: directory
  with_items:
    - "{{ aegir_user_home }}/.drush/commands"
    - "{{ aegir_user_home }}/.drush/sites"

#- name: Install required drush packages.
#  command: |
#    {{ drush_executable_path }} dl {{ item.key }}-{{ item.value }} --destination={{ aegir_user_home }}/.drush/commands --package-handler={{ drush_dl_method }}
#  with_dict: "{{ devshop_drush_packages }}"
#  changed_when: true
#  ignore_errors: true
#  become: true
#  become_user: "{{ aegir_user_name }}"
#  become_method: "{{ ansible_become_method_aegir }}"
#

- name: Setup Drush Bash Enhancements
  command: "{{ drush_executable_path }} init --yes"
  changed_when: true
  become: true
  become_user: "{{ aegir_user_name }}"
  become_method: "{{ ansible_become_method_aegir }}"

- name: "Remove existing DevShop Control Source Code from {{ devshop_control_git_root }} before installing, if requested."
  when: devshop_danger_remove_devmaster
  file:
    path: "{{ devshop_control_git_root }}"
    state: absent

- name: "Install DevShop Web Interface"
  include_tasks: "install-devmaster.yml"
  # Skip this step if "buildtime" tag is specified.
  when:
  - not devmaster_skip_install|bool
  - "'buildtime' not in ansible_run_tags"

- name: "Configure DevShop Web Interface"
  include_tasks: "config-devmaster.yml"
  # Skip this step if "buildtime" tag is specified..
  when:
  - not devmaster_skip_install|bool
  - "'buildtime' not in ansible_run_tags"

- name: Ensure privacy of SSH Keys
  file: path=/var/aegir/{{ item.path }} mode={{ item.mode }}
  with_items:
    - {path: '.ssh', mode: '0700'}
    - {path: '.ssh/id_rsa', mode: '600'}
    - {path: '.ssh/id_rsa.pub', mode: '644'}

- name: Create aegir's logs files
  file:
    path: "{{ item }}"
    owner: "{{ aegir_user_name }}"
    group: "{{ aegir_user_name }}"
    state: touch
    mode: 0755
  with_items: "{{ aegir_log_files_touch }}"

#- name: Confirm PHP version {{ php_version }} is installed
#  shell: php -v | grep -F '{{ php_version }}'
#  changed_when: false

# CentOS started failing tests because the PHP CLI was throwing Warnings about date.timezone missing.
# @TODO: Investigate php.ini for CLI on all OS
# - name: 'RedHat: Set timezone in PHP.ini for CLI.'
#  lineinfile:
#    dest: '{{ php_cli_ini_path }}'
#    line: 'date.timezone = America/Chicago'
#  when: ansible_os_family == "RedHat"
#
#- name: "opendevshop.devmaster"
#  debug:
#    msg:
#      - "Ansible Playbook run complete!"
#      - "  Repo: {{ devshop_cli_repo }}"
#      - "  Path: {{ devshop_cli_path }}"
#      - "  Version: {{ devshop_version }}"
#      - "  CLI Version: {{ devshop_cli_version }}"

- name: Add aegir to apache group.
  user:
    name: "{{ aegir_user_name }}"
    groups: "{{ apache_user }}"
    append: true