div.node div.content div.item-list ul.branches {
  margin: 0px;
  padding: 0px;
}
div.item-list ul.branches li,
span.branch
{
  list-style: none;
  
  background-color:#dfdfdf;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
  white-space: nowrap;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:0px 6px;
  margin: 0px 5px 5px 0px;
	text-decoration:none;
}

span.branch.environment-branch {
  cursor: help;
}

span.environment,
table * span.environment {
  color:#777777;
  font-weight:bold;
  padding:0px 6px;
  margin: 0px 5px 5px 0px;
  font-size: 1.5em;
}

html.js div.ctools-dropdown div.ctools-dropdown-container {
  width: 186px;
}

body.aegir #page div.node div.content .branches-list div.form-item  {
  padding-bottom: 2em;
}
.refresh-link a {
  display: block;
  z-index: 2;
  float: right;
  margin-top: -2em;
}

fieldset.project-environments {
  position: relative;
}
.create-new-environment {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 2px;
  display: block;
}
a.hosting-goto-site-link {
  display: inline-block;
}

.sync-envs {
  min-height: 100px;
}
.sync-envs > div {
  width: 49%;
  margin-right: 1%;
  float: left;
}

form .sync-envs  div.form-item-labeled {
  padding-left: 20px;
}

form .sync-envs div.form-item-labeled label {
  font-size: 11px;
  position: relative;
  left: 0px;
}

#hosting-task-confirm-form fieldset {
    clear: both;
}

.path-hosting-projects-add-environments #right {
  display: none;
}

.path-hosting-projects-add-environments #main {
  width: 98%;
}

.path-hosting-projects-add-environments div#page div.limiter {
  background: #fff;
}
p.wait {
  text-align: center;
  padding: 32px 0px 52px;
  background: bottom center no-repeat url(images/loading.gif);
}

p.error {
  text-align: center;
  padding: 32px 0px 52px;
}

#project-settings-table {
  margin-top: 20px;
}

.project-add-environment-button {
  margin: 0px auto;  
  text-align: center;  
}
#edit-add-environment {
  background: #999;
}
#edit-parameters-environment-name-wrapper input.form-text {
    width: inherit;
}
#edit-live-environment-alias-wrapper input.form-text {
    width: inherit;
    display: inline;
}
body.aegir fieldset {
    margin-left: 40px !important;
}
body.aegir fieldset > legend,
body.aegir fieldset > table {
    margin-left: -40px !important;
}