---
# @TODO: Remove once we know we do not need to set these anymore.
#  mysql_packages:
#    - mariadb
#    - mariadb-server
#    - mariadb-libs
#    - MySQL-python
#    - perl-DBD-MySQL
#  mysql_daemon: mariadb
#  mysql_log_error: /var/log/mariadb/mariadb.log
#  mysql_syslog_tag: mariadb
#  mysql_pid_file: /var/run/mariadb/mariadb.pid

devshop_prerequisite_packages:
  - openssh-clients

# Pass in a comma-separated list of repos to use (e.g. "remi,epel"). Used only
# for RHEL/CentOS.
devshop_prerequisite_enablerepo: "{{ php_enablerepo }}"
