# supervisord service for systemd
# Originally by ET-CS (https://github.com/ET-CS)
[Unit]
Description=Supervisor daemon

[Service]
Type=forking
ExecStart={{ supervisor_bin_path }} -c {{ supervisor_config_path }}/supervisord.conf
ExecStop={{ supervisorctl_bin_path }} $OPTIONS shutdown
ExecReload={{ supervisorctl_bin_path }} $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
