@media (min-width: 780px) {

  .col-md-3 {
    width: 25%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }

  .col-md-9 {
    width: 75%;
  }

  .container {
    width: 100%;
    max-width: 1280px;
  }

  .bs-sidebar.affix {
    position: fixed;
    max-width: 14em;
  }
}
a {
  color: #337ab7;
}
.nav.navbar a:hover,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF;
  text-decoration: underline;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #31b0d5;
  background-color: transparent;
}

.nav a:hover {
  color: #31b0d5;

}