# .env will be loaded into docker-compose config files.
#DOCKER_BIN_PATH=/usr/bin/docker
#DDEV_BIN_PATH=/usr/local/bin/ddev
#DOCKER_SOCK_PATH=~/.docker/run/docker.sock

## DOCKER_GID must match the "docker" group on the host. Enter "id" command to see your docker group ID.
#DOCKER_GID=995
