name: DevShop Build & Test

on:
  push:
    branches: 1.x
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 6 * * *"

env:
  GITHUB_TOKEN: ${{ secrets.INPUT_GITHUB_TOKEN }}
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_PR_SHA: ${{ github.event.pull_request.head.sha  }}
  GITHUB_RUN_LOG_URL: https://github.com/opendevshop/devshop/actions/runs/${{ github.run_id }}
  DEVSHOP_TEST_ARTIFACTS_PATH: ".github/test-assets"

jobs:
  docker:
    name: "Docker Containers"
    # description: Build every docker container, then install DevShop to confirm they work.
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'ubuntu1804'
          # Sorry, centos. You must wait until the next PR.
          # - 'centos7'
    env:
      OS: "${{ matrix.os }}"
      HOSTNAME: "devshop.${{ github.event.pull_request.number }}.${{ matrix.os }}.actions.github.com"

    runs-on: ubuntu-latest
    steps:

      - name: Check Out Sourcecode
        uses: actions/checkout@v2

      # Build "base"
      - name: "Docker Build: devshop/base:${{ matrix.os }}"
        working-directory: docker
        run: docker-compose build base

      # Build "ansible"
      - name: "Docker Build: devshop/ansible:${{ matrix.os }}"
        working-directory: docker
        run: docker-compose build ansible

      # Build "core"
      - name: "Docker Build: devshop/core:${{ matrix.os }}"
        working-directory: docker
        run: docker-compose build core

      # Build "role"
      - name: "Docker Build: devshop/role:${{ matrix.os }}"
        working-directory: docker
        run: docker-compose build role

      # Build DevShop Role Images
      - name: "Docker Build: devshop/server:${{ matrix.os }}"
        working-directory: roles
        run: docker-compose build devshop.server

      # Launch Container
      - name: "Docker Run: devshop/server:${{ matrix.os }}"
        working-directory: roles
        env:
          COMMAND: "echo 'Container Up! Awaiting commands...'"
        run: docker-compose up --detach devshop.server

      - name: "Container Environment: ${{ matrix.os }}"
        working-directory: roles
        run: |
          docker-compose exec -T devshop.server env
          docker-compose exec -T devshop.server systemctl status --no-pager

      - name: "Finalize DevShop Installation with DEVSHOP_DOCKER_COMMAND_RUN: ${{ matrix.os }}"
        working-directory: roles
        # DEVSHOP_DOCKER_COMMAND_RUN is set to ansible-playbook --tags runtime by default.
        run: docker-compose exec -T devshop.server bash -c '${DEVSHOP_DOCKER_COMMAND_RUN}'

      - name: "Test DevShop: ${{ matrix.os }}"
        working-directory: roles
        run: docker-compose exec -T --user aegir devshop.server /usr/share/devshop/tests/devshop-tests.sh

      - name: Save Artifacts
        if: always()
        working-directory: roles
        run: |
          docker-compose exec -T devshop.server systemctl status --no-pager | tee ../${DEVSHOP_TEST_ARTIFACTS_PATH}/systemctl-status.log
          docker-compose logs devshop.server | tee ../${DEVSHOP_TEST_ARTIFACTS_PATH}/docker-container.log

      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-assets
          path: ./.github/test-assets

  devmaster:
    name: Devmaster 
    # description: Install devmaster and run tests on a pre-built image.
    # @TODO: Set up this job once the devshop/server container is done.
    if: false
    runs-on: ubuntu-latest
    container:
      image: devshop/ansible:centos7
      volumes:
        - ./:/usr/share/devshop
      options: >-
        --hostname={{ env.HOSTNAME }}

    steps:

      - name: Check Out Sourcecode
        uses: actions/checkout@v2

      - name: Install devmaster
        run: devhop devmaster:install

      - name: Test devmaster
        run: devhop devmaster:test                
